*.class
*.log
*.txt
*.class
*.jar
.metals
metals.*
scala-cli.json
.scala-build
.dsp
.vscode
.bsp 
testing
testing.scala
testing0.scala
testing1.scala
testing2.scala
testing3.scala
testing4.scala
testing5.scala
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
